/task_linux_cli/Thumbs.db
/task_git_collaboration/Thumbs.db
/task_html_css_intro/Thumbs.db
/task_responsive_web_design/Thumbs.db
/html_css_popup/Thumbs.db
/html_css_popup/img/Thumbs.db
/task_js_oop/images/Thumbs.db
/task_git_basics/Thumbs.db
/task_js_basics/Thumbs.db
