.card {
    opacity: 1;
    perspective: 1000px;
    margin: 5px;
    cursor: pointer;
    width: 118px;
    height: 156px;
}

.card.flipped .card-flipper {
    transform: rotateY(180deg);
}

.card.hidden {
    opacity: 0;
    visibility: hidden;
    transition: .55s opacity, .55s visibility;
}

.card-flipper {
    position: relative;
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.card-front {
    transform: rotateY(0deg);
    background: url("../svg/diagonal.svg") no-repeat center;
    background-size: cover;
}

.card-back {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    display: flex;
    width: 114px;
    height: 152px;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    border: 2px solid #838383;
    border-radius: 5px;
}

.cardImg {
    max-width: 100%;
    max-height: 100%
}

.allCards {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 1fr 1fr;
}

.main {
    width: 528px;
    margin: 0 auto;
}